@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff0f5; /* Lavender Blush base */
  font-family: 'Comic Sans MS', 'Chillround', 'Nunito', sans-serif;
}

/* Custom Soft-Kawaii Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fff0f5;
}
::-webkit-scrollbar-thumb {
  background: #ffb7c5;
  border-radius: 10px;
}

/* Fix vertical range sliders for Electron canvas */
input[type="range"][orient="vertical"] {
  appearance: slider-vertical;
  width: 12px;
  height: 150px !important;
}
